@use "tokens";

body {
  font-family: tokens.$font-base;
  line-height: 1.5;
  overflow-x: hidden;
  padding-bottom: tokens.$size-600;
}

a {
  display: inline-block;
}

ul[role='list'] {
  padding: 0;
}

ul[role='list'] a {
  text-decoration: none;
}