//@use "./tokens" as *;
@use "gorko";

body {
  line-height: 1.5;
  overflow-x: hidden;
  padding-bottom: gorko.get-size("600");
}

a {
  display: inline-block;
}

ul[role='list'] {
  padding: 0;
}

nav ul[role='list'] li a {
  text-decoration: none;
}