//@use "./tokens" as *;
@use "gorko";

body {
  line-height: 1.5;
  overflow-x: hidden;
  padding-bottom: gorko.get-size("600");
  font-size: gorko.get-size("400");
}

nav ul[role='list'] li a {
  text-decoration: none;
}