@use "sass:color";

$color-primary: #64e953;
$base-size: 1rem;

:root {
  --color-primary: #{$color-primary};
  --color-accent: #FD5A62;
  --color-third: #E552AB;
  --color-third-light-900: #{color.adjust(#E552AB, $lightness: 25%)};
  --color-third-light-700: #{color.adjust(#E552AB, $lightness: 10%)};
  --color-dark: #333333;
  --color-light: #fcfcfc;
  --color-white: #fff;
}

// Sizes
$size-300: $base-size * 0.8;
$size-400: $base-size * 1;
$size-500: $base-size * 1.25;
$size-600: $base-size * 1.6;
$size-700: $base-size * 2;
$size-900: $base-size * 3;

// Breakpoints
$xs: 25em;
$sm: 36em;
$md: 48em;
$lg: 62em;
$xl: 75em;

// Font family
$font-base: Helvetica, Arial, sans-serif;

// Border radius
$radius-standard: 3px;
$radius-pill: 1em;
$radius-round: 50%;

// Width
$width-large: 80ch;
$width-medium: 65ch;

// Shadow
$shadow-card: 0 19px 38px #0000004d, 0 15px 12px #00000038;