@use "../tokens";

.wrapper {
  margin-inline: auto;
  width: min(var(--wrapper-min-width, #{tokens.$width-min}), var(--wrapper-max-width, #{tokens.$width-medium}));
  padding-block: tokens.$size-600;
  padding-inline: tokens.$padding-small;
}

.wrapper[data-size='large'] {
  --wrapper-max-width: #{tokens.$width-large};
}

.wrapper[data-padding='0'] {
  padding-block: 0;
  padding-inline: 0;
}

.wrapper[data-min-width='full'] {
  --wrapper-min-width: #{tokens.$width-full};
}