@use "tokens";
@use "sass:color";

:root {
  font-size: tokens.$font-base-size;
  /* Global custom properties */
  --color-primary: #{tokens.$color-primary};
  --color-accent: #{tokens.$color-secondary};
  --color-dark: #{color.scale(tokens.$color-primary, $lightness: -98%)};
  --color-light: #{color.scale(tokens.$color-primary, $lightness: 98%)};
  --color-gray: #{tokens.$color-gray};
  --color-white: #{tokens.$color-white};
}

body {
  font-family: tokens.$font-base-family;
  color: var(--color-dark);
  background-color: var(--color-light);
  padding-bottom: tokens.$padding-lg;
  overflow-x: hidden;
}

h1 {
  font-size: tokens.$size-700;
}

h2 {
  font-size: tokens.$size-600;
}

h3 {
  font-size: tokens.$size-500;
}

h1,
h2,
h3 {
  font-family: tokens.$font-base-family;
  line-height: 1.2;
}

main {
  display: block;
}

a {
  display: inline-block;
}

ul[role='list'] a {
  color: inherit;
  text-decoration: none;
}