@use "tokens";

body {
  font-family: tokens.$font-base;
  color: var(--color-dark);
  overflow-x: hidden;
  padding-bottom: tokens.$size-600;
  background-color: var(--color-light);
}

main {
  display: block;
}

a {
  display: inline-block;
}

ul[role='list'] a {
  color: inherit;
  text-decoration: none;
}