@use "sass:color";

$color-primary: #0052cc;
$color-secondary: #FD5A62;
$color-white: #fff;
$color-gray: color.scale($color-primary, $saturation: -85%, $lightness: 75%);

$base-size: 1rem;

// Generic sizes
$size-300: $base-size * 0.8;
$size-400: $base-size * 1;
$size-500: $base-size * 1.25;
$size-600: $base-size * 1.6;
$size-700: $base-size * 2;
$size-900: $base-size * 3;

// Font sizes
$size-h1: 1.8em;
$size-h2: 1.4em;
$size-h3: 1.2em;
$text-base-size: clamp(#{$size-500}, 2vw, #{$size-600});

// Flow
$flow-md: min(4rem, 8vh);

// Font families
$font-base: Helvetica, Arial, sans-serif;

// Breakpoints
$xs: 25em; // ~400px
$sm: 36em; // ~576px
$md: 48em; // ~768px
$lg: 62em; // ~992px
$xl: 75em; // ~1200px

// Border radius
$radius-standard: 5px;
$radius-pill: 1em;
$radius-round: 50%;

// Padding
$padding-small: clamp(1rem, 3%, 1.5rem);
$padding-medium: clamp(1.5rem, 6%, 3rem);

// Gap
$gap-sm: clamp(1rem,   3vmax, 1.5rem);
$gap-md: clamp(1.5rem, 6vmax,   3rem);

// Width
$width-large: 80ch;
$width-medium: 65ch;
$width-min: 94vw;
$width-full: 100vw;

// Shadow
$shadow-card: 3px 3px 10px -2px $color-gray, 0 0 0 -2px $color-gray;

// Gradient function
@function gradient($color, $orientation: 180deg) {
  @return linear-gradient($orientation, #{$color} 0%, #{color.scale($color, $lightness: -6%)} 12.5%, #{color.scale($color, $lightness: -12%)} 25%, #{color.scale($color, $lightness: -18%)} 37.5%, #{color.scale($color, $lightness: -24%)} 50%, #{color.scale($color, $lightness: -30%)} 62.5%, #{color.scale($color, $lightness: -36%)} 75%, #{color.scale($color, $lightness: -42%)} 87.5%, #{color.scale($color, $lightness: -48%)} 100%);
}