@use "sass:color";

$color-primary: #0052cc;
$color-secondary: #FD5A62;
$color-white: #fff;
$color-gray: color.scale($color-primary, $saturation: -85%, $lightness: 75%);

//$base-size: 1rem;

// Generic sizes
$size-300: 0.8em;
$size-400: 1em;
$size-500: 1.2em;
$size-600: 1.7em;
$size-700: 2em;
$size-800: 2.4em;

// Fonts
$font-base-size: clamp(1.2rem * 0.9, 0.46vw + 0.9rem, 1.2rem);
$font-base-family: Helvetica, Arial, sans-serif;

// Flow
$flow-space-sm: max(4vh, #{$size-500});
$flow-space: max(6vh, #{$size-700});

// Breakpoints
$xs: 25em; // ~400px
$sm: 36em; // ~576px
$md: 48em; // ~768px
$lg: 62em; // ~992px
$xl: 75em; // ~1200px

// Border radius
$radius-std: 5px;
$radius-pill: 1em;
$radius-round: 50%;

// Padding
$padding-sm: clamp(#{$size-400}, 3%, #{$size-500});
$padding-md: clamp(#{$size-500}, 4%, #{$size-600});
$padding-lg: clamp(#{$size-600}, 5%, #{$size-700});

// Gap
$gap-sm: $size-500;
$gap-md: $size-600;

// Measures
$width-md: min(65ch, var(--min-width, 94vw));
$width-lg: min(80ch, var(--min-width, 94vw));
$min-height: 250px;

// Shadow
$shadow-card: 3px 3px 10px -2px $color-gray, 0 0 0 -2px $color-gray;

// Gradient function
@function gradient($color, $orientation: 180deg) {
  @return linear-gradient($orientation, #{$color} 0%, #{color.scale($color, $lightness: -6%)} 12.5%, #{color.scale($color, $lightness: -12%)} 25%, #{color.scale($color, $lightness: -18%)} 37.5%, #{color.scale($color, $lightness: -24%)} 50%, #{color.scale($color, $lightness: -30%)} 62.5%, #{color.scale($color, $lightness: -36%)} 75%, #{color.scale($color, $lightness: -42%)} 87.5%, #{color.scale($color, $lightness: -48%)} 100%);
}