@use "../tokens" as *;

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: get-size("100") get-size("150");
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}