@use "../gorko";

.page-header {

  &__logo {
    width: 100%;

    @include gorko.media-query("sm") {
      width: initial;
    }
  }

  nav,
  ul,
  li,
  a {
    width: 100%;
    text-align: center;

    @include gorko.media-query("sm") {
      width: initial;
    }
  }

  &__nav {
    flex-direction: column;
    gap: 1rem;
    margin-right: gorko.get-size("900");

    @include gorko.media-query("sm") {
      flex-direction: row;
    }
  }
}