@use "../tokens";

.flex-nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: tokens.$size-400;

    @media(min-width: tokens.$sm) {
      flex-direction: row;
      margin-top: var(--flex-nav-margin-top, unset);
      margin-right: var(--flex-nav-margin-right, unset);
      margin-bottom: var(--flex-nav-margin-bottom, unset);
      margin-left: var(--flex-nav-margin-left, unset);
    }
  }


  &,
  & li,
  & li a {
    width: 100%;
    text-align: center;

    @media(min-width: tokens.$sm) {
      width: initial;
    }
  }
}