@use "../tokens";

.card-standard,
.children-card-standard > * {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  border-radius: tokens.$radius-std;
  box-shadow: tokens.$shadow-card;
  padding-block: tokens.$padding-sm;
  padding-inline: tokens.$padding-md;
  background-color: var(--color-white);
  outline: dashed var(--color-dark);
}