@use "../tokens";

.card-standard,
.children-card-standard > * {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  border-radius: tokens.$radius-standard;
  box-shadow: tokens.$shadow-card;
  padding-block: tokens.$size-600;
  padding-inline: tokens.$padding-medium;
  background-color: var(--color-white);
  outline: dashed var(--color-dark);
}