@use "../tokens";

.code-example {
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray);
  border-radius: tokens.$radius-standard;

  iframe {
    border: 0;
    border-radius: inherit;
    background-color: var(--color-white);
  }
  
  summary {
    font-weight: 700;
  }
}