@use "../tokens";

.flex-nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: tokens.$size-400;
  }


  &,
  & li,
  & li a {
    width: 100%;
    text-align: center;

    @media(min-width: tokens.$sm) {
      width: initial;
    }
  }
}