@use "../tokens";

.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-block: tokens.$padding-small;

  .page-header__logo {
    padding-inline-start: tokens.$padding-medium;
  }

  @media(min-width: tokens.$sm) {
    padding-inline-end: tokens.$padding-medium;
  }
}