@use "../tokens";

.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: tokens.$size-300;
  padding-block: tokens.$padding-sm;
  padding-inline: tokens.$padding-md;
  box-shadow: tokens.$shadow-bottom;
}