@use "../tokens";

.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: tokens.$size-400;
  padding-bottom: tokens.$size-400;

  .page-header__logo {
    padding-left: tokens.$size-900;
  }

  @media(min-width: tokens.$sm) {
    padding-right: tokens.$size-900;
  }
}