---
layout: layouts/page.njk
title: Home
---
<main class="flow flow-space-900">

<div>

  <div class="[ children-card-standard ] [ grid-auto wrapper ]" data-padding="0">
    <div>
      <h1>First service!</h1>
      <p>Service description.</p>
    </div>
    <div>
      <h1>Second service!</h1>
      <p>Service description.</p>
    </div>
    <div>
      <h1>Third service!</h1>
      <p>Service description.</p>
    </div>
    <div>
      <h1>Fourth service!</h1>
      <p>Service description.</p>
    </div>
  </div>

</div>

<div class="highlight">
  <div class="wrapper">
    <h1>Highlight</h1>
  </div>
</div>

{% codeExample
html = ('<div>
  <h1 class="my-title">Title</h1>
</div>'),
css = ('.my-title {
  color: greenyellow;
}'),
js = ('const title = document.querySelector(".my-title");

document.addEventListener("click", () => {
  title.classList.toggle("my-title");
});')
%}

</main>