---
layout: layouts/page.njk
title: Home
---
<main class="home-main flow">

<div class="overlap-top">

  <div class="grid-auto-3 card-standard-auto">
    <div>
      <h1>First service!</h1>
      <p>Service description.</p>
    </div>
    <div>
      <h1>Second service!</h1>
      <p>Service description.</p>
    </div>
    <div>
      <h1>Third service!</h1>
      <p>Service description.</p>
    </div>
  </div>

</div>

<div class="highlight">
  <div class="wrapper">
    <h1>Highlight</h1>
  </div>
</div>

{% test 
url = "src/code-exemples/test.html"
%}

</main>