<header class="page-header">
  <div class="page-header__nav-section">
    <h1 class="page-header__nav-section--logo">LOGO</h1>

    <nav class="flex-nav" data-margin-right="900">
      <ul role="list">
        <li><a href="#" title="Link one">Link one</a></li>
        <li><a href="#" title="Link two">Link two</a></li>
      </ul>
    </nav>
  </div>
</header>