<header class="[ page-header ] [ display-flex flex-wrap-yes justify-between align-center pad-top-400 pad-bottom-400 ]">
  <h1 class="[ page-header__logo ] [ pad-left-900 ]">LOGO</h1>

  <nav>
    <ul role="list" class="[ page-header__nav ] [ display-flex flex-wrap-yes justify-around ]">
      <li><a href="#" title="Link one">Link one</a></li>
      <li><a href="#" title="Link two">Link two</a></li>
    </ul>
  </nav>
</header>