<header class="box-flex justify-between align-center pad-top-400 pad-right-900 pad-bottom-400 pad-left-900">
  <h1>LOGO</h1>

  <nav>
    <ul role="list" class="box-flex wrap justify-around inline-flow">
      <li><a href="#" title="Link one">Link one</a></li>
      <li><a href="#" title="Link two">Link two</a></li>
    </ul>
  </nav>
</header>